.footer-container {
  width: 100%;
  display: flex;
  background-color: #f9f8f6;
}

.footer-info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.footer-info > article {
  margin-left: 120px;
  width: 60px;
}
