img {
  width: 100px;
  border-radius: 6%;
  padding: 0;
  margin-left: 5.3rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 120px;
  justify-content: space-between;
  box-shadow:
    14px,
    5px,
    9px black;
}
/*above made by Hamzah*/
