.FeaturedSpecialists {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.cardArtical {
  font-size: 1.75rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 55px;
}

.cardArtical > p {
  color: grey;
}

.FeaturedSpecialists > a {
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 600;
}

.card-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 570px 570px 570px;
  grid-template-rows: 270px 270px 270px;

  gap: 17px;
}

.card {
  background-color: #e8e2d8;
  width: 570px;
  height: 270px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4%;
}

.card > img {
  width: 160px;
  height: 130px;
  position: relative;
  top: 0;
  left: 0;
  margin-left: 50;
}

.cardsDiv {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1300px) {
  .card-container {
    display: grid;
    grid-template-columns: 470px 470px;
    grid-template-rows: 270px 270px 270px;
    align-items: center;
    gap: 20px;
    margin-bottom: 170px;
  }
  .card {
    width: 90%;
    height: auto;
    flex-direction: column;
    padding: 20px;
  }
  .card > img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .cardArtical {
    text-align: center;
    margin: 20px 0;
  }
  .FeaturedSpecialists {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .FeaturedSpecialists > a {
    font-size: 1.2rem;
  }
}
/*All above written by Hamzah*/
